[bumpversion]
current_version = 0.8.0

# note: the indent after "search" is required to signal bump2version that the pattern continues
[bumpversion:file:Chart.yaml]
search = name: icm-web
	version: {current_version}
replace = name: icm-web
	version: {new_version}

[bumpversion:file:../icm-web/Chart.yaml]
search = name: icm-web
	version: {current_version}
replace = {new_version}
