[bumpversion]
current_version = 0.7.5
commit = true
tag = false
message = Bump icm-web chart version: {current_version} → {new_version}

[bumpversion:file:Chart.yaml]
search = version: {current_version}
replace = version: {new_version}
