# Default values for icm-webadapter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# defined where the application shall run on
nodeSelector: {}
#  agentpool: <your agentpool>

# operational context (~= environment) this icm is running in
operationalContext:
  #   id of the customer e.g. xxxxx
  customerId: "n_a"
  # type of the environment (one of {int,uat,prd}, default=prd)
  environmentType: prd
  # defines the system enviromnent variable "ENVIRONMENT",
  # (see SMC, Monitoring > Application Server > Configuration Values, scope: cluster, key "environment")
  # Proposed values:
  # * development   (for local dev systems)
  # * integration   (for all systems with environmentType: int)
  # * preproduction (for all systems with environmentType: uat)
  # * production    (for all systems with environmentType: prd)
  environmentName: production
  # if this is a staging environment define the system type (one of {standalone,live,edit}, default=standalone)
  stagingType: standalone

webadapter:
  image:
    repository: intershophub/icm-webadapter:2.6.0
    pullPolicy: IfNotPresent
  # disable HTTP/2 protocol support if required
  disableHTTP2: false

  # Deprecated: The customHttpdConfig option has been replaced by configMapMounts.
  # Please use configMapMounts to manually define the required ConfigMaps.
  customHttpdConfig: false

  # List of ConfigMaps to be mounted as volumes
  configMapMounts: []
#    # the key will be part of the volume name
#    - name: httpdConfig
#      # where to mount the configMap
#      mountPath: /intershop/conf/
#      # name of the configMap
#      configMapName: icm-web-httpd-conf
#      # name of the file in the configMap
#      fileName: httpd.conf
#      # fileMode of the file
#      fileMode: 440

  # provides custom certificates for webadapter
  customSSLCertificates: false
  overrideSSL: false
  # define the number of replicas being deployed (int, > 0, default=1)
  replicaCount: 1
  # define the update strategy (possible values: Recreate, RollingUpdate; default=RollingUpdate)
  updateStrategy: RollingUpdate
  # Probes, all values are optional, below are the defaults
  probes:
    startup: {}
    #  initialDelaySeconds: 0
    #  periodSeconds: 5
    #  failureThreshold: 6
    #  timeoutSeconds: 1
    liveness: {}
    #  initialDelaySeconds: 0
    #  periodSeconds: 10
    #  failureThreshold: 3
    #  timeoutSeconds: 1
    readiness: {}
    #  initialDelaySeconds: 0
    #  periodSeconds: 10
    #  failureThreshold: 3
    #  timeoutSeconds: 1
  sslCertificateRetrieval:
    enabled: false
    supportV1: false
    # secretName: <explicit-ssl-secret-name>
    keyvault:
      tenantId: <tenant-ID-of-the-KeyVault>
      subscriptionId: <subscription-ID-of-the-KeyVault>
      resourceGroup: <resource-group-of-the-KeyVault>
      keyvaultName: <name-of-the-KeyVault>
      certificateName: <name-of-the-certificate>

  # define custom annotations for deployment and pods:
  deploymentAnnotations: {}
  #  myAnnotation: true
  podAnnotations: {}
  #  myAnnotation: true

  # define podbinding if required
  podBinding:
    enabled: false
    binding: <name-of-the-binding>

  # define if the scheduler should try to place the ReplicaSet of WA pods evenly over different nodes
  schedulePodsPreferredEvenlyAcrossNodes: true

  # define custom labels for deployment and pods:
  deploymentLabels: {}
  podLabels: {}

agent:
  # in some REST-based environment the webadapteragent isn't mandatory
  enabled: true
  image:
    repository: intershophub/icm-webadapteragent:5.1.0
    pullPolicy: IfNotPresent
  # define the number of replicas being deployed (int, > 0, default=1)
  replicaCount: 1
  # define update the strategy (possible values: Recreate, RollingUpdate; default=RollingUpdate)
  updateStrategy: RollingUpdate
  # define custom annotations for deployment and pods:
  deploymentAnnotations: {}
  #  myAnnotation: true
  podAnnotations: {}
  #  myAnnotation: true

  # define podBinding if required
  podBinding:
    enabled: false
    binding: <name-of-the-binding>

  # define custom labels for deployment and pods:
  deploymentLabels: {}
  podLabels: {}

  # configuration related to New Relic for WAA (same structure as for AS)
  newrelic:
    # enable or disable the New Relic Java agent to monitor the icm-as JVM
    # https://docs.newrelic.com/docs/kubernetes-pixie/kubernetes-integration/advanced-configuration/link-apm-applications-kubernetes/
    enabled: false
    #   application name (~= environment name): calculated from operationalContext section, set to override
    # appName: "icm-waa"
    # provide license key as plain text
    # "license_key" deprecated since ICM-AS Helm Charts 1.8.0, will be removed in a future version.
    # Use licenseKeySecretKeyRef instead.
    license_key: "secret"
    # instead use secret key reference (recommended) - takes precedence over license_key
    # licenseKeySecretKeyRef:
    #  name: <your-company-prd-secrets>
    #  key: <licenseKey>
    metrics:
      # fine grade possibility to disable metrics for cost reduction
      enabled: true
    apm:
      # fine grade possibility to disable apm for cost reduction
      enabled: true

## Optionally specify an array of imagePullSecrets. Secrets must be manually created in the namespace.
## https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod
imagePullSecrets:
  - "dockerhub"

persistence:
  pagecache:
    size: 1Gi
    # type cluster | nfs | azurefiles | existingClaim | local | emptyDir
    type: emptyDir
    existingClaim: claimName
    cluster:
      storageClass:
        create: true
        # if create == false an exiting class could be set
        # if empty value is set the default storage class is used
        # existingClass: ""
        skuName: Standard_LRS
        mountOptions:
          - uid=150
          - gid=150
          - dir_mode=0777
          - file_mode=0777
          - mfsymlinks
          - cache=strict
          - actimeo=30
    azurefiles:
      shareName: icm-web-pc-share
      secretName: icm-web-pc-secret
    nfs:
      server: <ipaddress or hostname>
      path: <server folder>
    local:
      path: <local folder>
  logs:
    size: 10Gi
    # type cluster | nfs | azurefiles | existingClaim | local | emptyDir
    type: emptyDir
    existingClaim: claimName
    cluster:
      storageClass:
        create: true
        # if create == false an exiting class could be set
        # if empty value is set the default storage class is used
        # existingClass: ""
        skuName: Standard_LRS
        mountOptions:
          - uid=150
          - gid=150
          - dir_mode=0777
          - file_mode=0777
          - mfsymlinks
          - cache=strict
          - actimeo=30
    azurefiles:
      shareName: icm-web-logs-share
      secretName: icm-web-logs-secret
    nfs:
      server: <ipaddress or hostname>
      path: <server folder>
    local:
      path: <local folder>
  customdata:
    enabled: false
    existingClaim: icm-as-cluster-customData-pvc
    mountPoint: /data

resources:
  webadapter:
    limits:
      cpu: 100m
      memory: 400Mi
    requests:
      cpu: 100m
      memory: 400Mi
  agent:
    limits:
      cpu: 2000m
      memory: 400Mi
    requests:
      cpu: 50m
      memory: 100Mi

ingress:
  enabled: false
  className: nginx
  annotations:
    {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  # Paths are treated as list of prefixes. Any URL matching one of the prefixes will
  # be forwarded to ICM.
  hosts:
    - host: <dns-name-of-service>
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  # these ports shall be equal to the pods ports because of forwarding/redirect issues
  httpPort: 8080
  httpsPort: 8443

podSecurityContext:
  # intershop user - defined by icm-base-docker image
  runAsUser: 150
  runAsGroup: 150
  fsGroup: 150
  runAsNonRoot: true
  fsGroupChangePolicy: "OnRootMismatch"

appServerConnection:
  serviceName: icm-as
  port: 7744

environment: {}
