{{- $nginxMetricsEnabled := tpl $.Values.calculated.metrics.nginx $ -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pwa-cache.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "pwa-cache.name" . }}
    helm.sh/chart: {{ include "pwa-main.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- if .Values.cache.podLabels }}
    {{- toYaml .Values.cache.podLabels | nindent 4 }}
    {{- end }}
spec:
  strategy:
    type: {{ default "RollingUpdate" .Values.updateStrategy }}
  replicas: {{ .Values.cache.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "pwa-cache.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "pwa-cache.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{- if .Values.cache.podLabels }}
        {{- toYaml .Values.cache.podLabels | nindent 8 }}
        {{- end }}
      {{- if .Values.cache.podAnnotations }}
      annotations:
      {{- toYaml .Values.cache.podAnnotations | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.cache.image.repository }}:{{ .Values.cache.image.tag }}"
          imagePullPolicy: {{ .Values.cache.image.pullPolicy }}
          volumeMounts:
          - name: multi-channel-config
            readOnly: true
            mountPath: "/config"
          env:
          - name: HELM_RELEASE_REVISION
            value: "{{ .Release.Revision }}"
          - name: UPSTREAM_PWA
            value: "http://{{ include "pwa-main.fullname" . }}:{{ .Values.service.port }}"
          - name: ICM_BASE_URL
            value: "{{ .Values.upstream.icmBaseURL }}"
        {{- if and .Values.hybrid.enabled .Values.hybrid.pwaExternalPort }}
          - name: HYBRID_FORWARDED_PORT
            value: "{{ .Values.hybrid.pwaExternalPort }}"
        {{- end }}
        {{- if .Values.cache.multiChannel }}
          - name: MULTI_CHANNEL_SOURCE
            value: "/config/multi-channel.yaml"
        {{- end }}
        {{- if .Values.cache.cacheIgnoreParams }}
          - name: CACHING_IGNORE_PARAMS_SOURCE
            value: "/config/caching-ignore-params.yaml"
        {{- end }}
        {{- if .Values.cache.additionalHeaders }}
          - name: ADDITIONAL_HEADERS_SOURCE
            value: "/config/additional-headers.yaml"
        {{- end }}
        {{- if $nginxMetricsEnabled }}
          - name: PROMETHEUS
            value: "true"
        {{- end }}
        {{- if (.Values.redis).uri }}
          - name: REDIS_URI
            value: "{{ (.Values.redis).uri }}"
        {{- end }}
        {{- range $key, $obj := .Values.cache.extraEnvVars }}
          - name: {{ $obj.name }}
            value: {{ $obj.value | quote }}
        {{- end }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          {{- if $nginxMetricsEnabled }}
            - name: metrics
              containerPort: 9113
              protocol: TCP
          {{- end }}
          livenessProbe:
            {{- if empty .Values.cache.livenessProbe }}
            {{- else }}
              {{- with .Values.cache.livenessProbe }}
              {{- toYaml . | nindent 12 }}
              {{- end }}
            {{- end }}
          readinessProbe:
            {{- if empty .Values.cache.readinessProbe }}
            {{- else }}
              {{- with .Values.cache.readinessProbe }}
              {{- toYaml . | nindent 12 }}
              {{- end }}
            {{- end }}
          resources:
            {{- toYaml .Values.cache.resources | nindent 12 }}
      {{- if .Values.cache.init.enabled }}
      initContainers:
        - name: init-pwa
          image: {{ default "busybox:1.37" .Values.cache.init.image }}
          command:
            - sh
            - -c
            - >-
              until nc -zvw1 {{ include "pwa-main.fullname" . }} {{ .Values.service.port }};
              do
                echo "waiting for {{ include "pwa-main.fullname" . }}:{{ .Values.service.port }}";
                sleep 2;
              done
      {{- end }}
      volumes:
      - name: multi-channel-config
        configMap:
            name: {{ include "pwa-cache.fullname" . }}-gomplate-datasources
            items:
              - key: multi-channel.yaml
                path: multi-channel.yaml
              - key: caching-ignore-params.yaml
                path: caching-ignore-params.yaml
              - key: additional-headers.yaml
                path: additional-headers.yaml

      {{- with .Values.cache.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.cache.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.cache.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
