apiVersion: v1
appVersion: "11.0.0"
description: Intershop Commerce Management - ICM Replication
name: icm-replication
version: 1.2.0
annotations:
  requestedMemoryQuota: 10Gi
  requestedCpuQuotaInMinutes: 2200