apiVersion: v2
appVersion: "13.1.2"
description: Intershop Commerce Management - ICM Replication
# name and version must be in this exact order, otherwise bump2version won't work
name: icm-replication
version: 2.16.0
annotations:
  requestedMemoryQuota: 9Gi
  requestedCpuQuotaInMinutes: 3000
dependencies:
  - name: icm
    version: 2.16.0
    repository: file://../icm
    alias: icm-live
  - name: icm
    version: 2.16.0
    repository: file://../icm
    alias: icm-edit
