apiVersion: v2
appVersion: "11.9.0"
description: Intershop Commerce Management - ICM Replication
# name and version must be in this exact order, otherwise bump2version won't work
name: icm-replication
version: 1.10.0-alpha
annotations:
  requestedMemoryQuota: 9Gi
  requestedCpuQuotaInMinutes: 3000
dependencies:
  - name: icm
    version: 1.13.0-alpha
    repository: file://../icm
    alias: icm-live
  - name: icm
    version: 1.13.0-alpha
    repository: file://../icm
    alias: icm-edit
