icm-edit:
  icm-as:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_AS_PULL_SECRET}"
    persistence:
      sites:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/sites-edit
      customdata:
        enabled: true
        existingClaim: ${HELM_JOB_NAME}-icm-live-local-testdata-pvc
        mountPoint: /data

icm-live:
  icm-as:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_AS_PULL_SECRET}"
    persistence:
      sites:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/sites-live
      customdata:
        enabled: true
        existingClaim: ${HELM_JOB_NAME}-icm-live-local-testdata-pvc
        mountPoint: /data

  ingress-nginx:
    controller:
      nodeSelector: null
      extraVolumes: null
      extraVolumeMounts: null

  mailhog:
    nodeSelector: null

  testrunner:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_AS_PULL_SECRET}"
    persistence:
      testdata:
        size: 1Gi
        type: local
        local:
          dir: ${LOCAL_MOUNT_BASE}/testdata
