icm-edit:
  icm-as:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_AS_PULL_SECRET}"
    persistence:
      sites:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/sites/edit
      jgroups:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/jgroups
      customdata:
        enabled: true
        existingClaim: ${HELM_JOB_NAME}-icm-live-local-testdata-pvc
        mountPoint: /data
    mssql:
      enabled: false

  icm-web:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_WEB_PULL_SECRET}"
    persistence:
      pagecache:
        type: emptyDir
      customdata:
        enabled: true
        existingClaim: ${HELM_JOB_NAME}-icm-live-local-testdata-pvc
        mountPoint: /data

icm-live:
  icm-as:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_AS_PULL_SECRET}"
    persistence:
      sites:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/sites/live
      jgroups:
        type: existingClaim
        existingClaim: ${HELM_JOB_NAME}-icm-as-edit-local-jgroups-pvc
      customdata:
        enabled: true
        existingClaim: ${HELM_JOB_NAME}-icm-live-local-testdata-pvc
        mountPoint: /data
    mssql:
      enabled: false

  icm-web:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_WEB_PULL_SECRET}"
    persistence:
      pagecache:
        type: emptyDir
      customdata:
        enabled: true
        existingClaim: ${HELM_JOB_NAME}-icm-live-local-testdata-pvc
        mountPoint: /data

  testrunner:
    nodeSelector: null
    imagePullSecrets:
    - "${ICM_AS_PULL_SECRET}"
    persistence:
      testdata:
        size: 1Gi
        type: local
        local:
          dir: ${LOCAL_MOUNT_BASE}/testdata
