icm-edit:
  icm-as:
    nameOverride: icm-as-edit
    replication:
      enabled: true
      role: source
      targetSystemUrl: http://icm-replication-icm-web-live-wa:8080
      sourceDatabaseName: intershop_edit
    database:
      jdbcURL: "jdbc:sqlserver://<ipaddress or hostname>:1433;databaseName=intershop_edit"
      jdbcUser: "intershop_edit"
      jdbcPassword: "intershop_edit"
    environment:
      INTERSHOP_WEBSERVERURL: http://icm-replication-icm-web-edit-wa:8080
      INTERSHOP_WEBSERVERSECUREURL: https://icm-replication-icm-web-edit-wa:8443
    # ICM license Configuration
    license:
    # type: configMap | csi | secret
      type: configMap
      configMap:
        content: |-
          <your license>
      csi:
        volumeAttributes:
          secretProviderClass: "azure-license"
        nodePublishSecretRef:
          name: secrets-store-creds
      secret:
        name: <secret name>

    ## @param persistence - Either choose local (default), cluster, azurefiles or nfs persitence layer
    persistence:
      sites:
        size: 1Gi
        type: local
        local:
          path: <local sites edit folder>

  icm-web:
    nameOverride: icm-web-edit
    appServerConnection:
      serviceName: icm-as-edit
    persistence:
      pagecache:
        size: 1Gi
        type: emptyDir

icm-live:
  icm-as:
    nameOverride: icm-as-live
    replication:
      enabled: true
      role: target
    database:
      jdbcURL: "jdbc:sqlserver://<ipaddress or hostname>:1433;databaseName=intershop_live"
      jdbcUser: "intershop_live"
      jdbcPassword: "intershop_live"
    environment:
      INTERSHOP_WEBSERVERURL: http://icm-replication-icm-web-live-wa:8080
      INTERSHOP_WEBSERVERSECUREURL: https://icm-replication-icm-web-live-wa:8443
    # ICM license Configuration
    license:
    # type: configMap | csi
      type: configMap
      configMap:
        content: |-
          <your license>
      csi:
        volumeAttributes:
          secretProviderClass: "azure-license"
        nodePublishSecretRef:
          name: secrets-store-creds

    ## @param persistence - Either choose local (default), cluster, azurefiles or nfs persitence layer
    persistence:
      sites:
        size: 1Gi
        type: local
        local:
          path: <local sites live folder>

  icm-web:
    nameOverride: icm-web-live
    imagePullSecrets:
    - "dockerhub"
    webadapter:
      replicaCount: 1
      image:
        repository: intershophub/icm-webadapter:2.4.6
        secret: dockerhub
    agent:
      replicaCount: 1
      image:
        repository: intershophub/icm-webadapteragent:4.0.0
    appServerConnection:
      serviceName: icm-as-live
    persistence:
      pagecache:
        size: 1Gi
        type: emptyDir
