[bumpversion]
current_version = 1.3.0

# note: the indent after "search" is required to signal bump2version that the pattern continues
[bumpversion:file:Chart.yaml]
search = name: icm-as
	version: {current_version}
replace = name: icm-as
	version: {new_version}

[bumpversion:file:../icm/Chart.yaml]
search = name: icm-as
	version: {current_version}
replace = {new_version}
