[bumpversion]
current_version = 1.5.0

[bumpversion:file:Chart.yaml]
search = name: icm-as
	version: {current_version}
replace = name: icm-as
	version: {new_version}

[bumpversion:file:../icm/Chart.yaml]
search = name: icm-as
	version: {current_version}
replace = {new_version}
