{{- if and .Values.downtime (ne (quote .Values.replicaCount) "1") -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-iom-patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Release.Name }}-iom-patch
rules:
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - get
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-iom-patch
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Release.Name }}-iom-patch
subjects:
- kind: ServiceAccount
  name: {{ .Release.Name }}-iom-patch
---
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ .Release.Name }}"
  annotations:
    # This is what defines this resource as a hook. Without this line, the
    # job is considered part of the release.
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
  labels:
    {{- include "iom.labels" . | nindent 4 }}
spec:
  template:
    metadata:
      name: "{{ .Release.Name }}"
      labels:
        {{- include "iom.labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      serviceAccountName: {{ .Release.Name }}-iom-patch
      containers:
      - name: patch-replica-count
        image: "bitnami/kubectl"
        args: 
        - patch 
        - --type=merge 
        - sts 
        - {{ include "iom.fullname" . }} 
        - -n
        - {{ .Release.Namespace }} 
        - -p
        - '{"spec":{"replicas":{{ .Values.replicaCount }}}}'
{{- end }}
