{{- if eq .Values.persistence.logs.type "cluster" -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "icm-web.fullname" . }}-cluster-logs-pvc
  labels:
    {{- include "icm-web.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteMany
  {{- if .Values.persistence.logs.cluster.storageClass.create }}
  storageClassName: "{{ template "icm-web.fullname" . }}-cluster-logs-sc"
  {{- else if gt (len .Values.persistence.logs.cluster.storageClass.existingClass) 0 }}
  storageClassName: {{ .Values.persistence.logs.cluster.storageClass.existingClass | quote }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.logs.size }}
{{- end -}}
