{{- if eq .Values.persistence.pagecache.type "local" -}}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "icm-web.fullname" . }}-local-pagecache-pv
  labels:
    type: local
    {{- include "icm-web.labels" . | nindent 4 }}
spec:
  storageClassName: standard
  capacity:
    storage: {{ .Values.persistence.pagecache.size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: "{{ .Values.persistence.pagecache.local.path }}"
{{- end -}}