apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "icm-web.fullname" . }}-wa
  {{- if .Values.webadapter.deploymentAnnotations }}
  annotations:
    {{- toYaml .Values.webadapter.deploymentAnnotations | trim | nindent 4 }}
  {{- end }}
  labels:
    app: {{ include "icm-web.fullname" . }}-wa
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    {{- if .Values.webadapter.deploymentLabels }}
      {{- toYaml .Values.webadapter.deploymentLabels | trim | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.webadapter.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "icm-web.fullname" . }}-wa
      release: {{ .Release.Name }}
  template:
    metadata:
    {{- if .Values.webadapter.podAnnotations }}
      annotations:
      {{- toYaml .Values.webadapter.podAnnotations | trim | nindent 8 }}
    {{- end }}
      labels:
        app: {{ include "icm-web.fullname" . }}-wa
        release: {{ .Release.Name }}
        {{- if .Values.webadapter.podLabels }}
          {{- toYaml .Values.webadapter.podLabels | trim | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.nodeSelector}}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | trim | nindent 8 }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.imagePullSecrets }}
        - name: {{ . | quote }}
        {{- end }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
      {{- if .Values.webadapter.customHttpdConfig }}
      - name: httpd-config-volume
        configMap:
          name:  {{ template "icm-web.fullname" . }}-httpd-conf
      {{- end }}
      {{- if .Values.webadapter.customSSLCertificates }}
      - name: ssl-config-volume
        configMap:
          name:  {{ template "icm-web.fullname" . }}-ssl-certificates
      {{- end }}
      - name: pagecache-volume
        {{- if eq .Values.persistence.pagecache.type "existingClaim" }}
        persistentVolumeClaim:
          claimName: "{{ .Values.persistence.pagecache.existingClaim }}"
        {{- else if eq .Values.persistence.pagecache.type "azurefiles" }}
        azureFile:
          secretName: {{ .Values.persistence.pagecache.azurefiles.secretName }}
          shareName: {{ .Values.persistence.pagecache.azurefiles.shareName }}
          readOnly: false
        {{- else if eq .Values.persistence.pagecache.type "local" }}
        persistentVolumeClaim:
          claimName: "{{ template "icm-web.fullname" . }}-local-pagecache-pvc"
        {{- else if eq .Values.persistence.type "nfs" }}
        persistentVolumeClaim:
          claimName: "{{ template "icm-web.fullname" . }}-nfs-pagecache-pvc"
        {{- else if eq .Values.persistence.pagecache.type "cluster" }}
        persistentVolumeClaim:
          claimName: "{{ template "icm-web.fullname" . }}-cluster-pagecache-pvc"
        {{- end }}
        {{- if .Values.persistence.customdata.enabled }}
      - name: custom-data-volume
        persistentVolumeClaim:
          claimName: "{{ .Values.persistence.customdata.existingClaim }}"
        {{- end }}
      initContainers:
      {{- if eq .Values.persistence.pagecache.type "local" }}
        - name: pagecache-volume-mount-hack
          image: busybox
          command: ["sh", "-c", "chmod 777 /intershop/pagecache && chown -R 150:150 /intershop/pagecache"]
          volumeMounts:
          - name: pagecache-volume
            mountPath: /intershop/pagecache
          securityContext:
            runAsUser: 0
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- if .Values.webadapter.image.tag }}
          image: "{{ .Values.webadapter.image.repository }}:{{ .Values.webadapter.image.tag }}"
          {{- else }}
          image: "{{ .Values.webadapter.image.repository }}"
          {{- end }}
          imagePullPolicy: {{ .Values.webadapter.image.pullPolicy }}
          command:
          - "/bin/sh"
          - "-c"
          - {{- toYaml .Values.webadapter.image.command | nindent 12 }}
          env:
          - name: ICM_ICMSERVLETURLS
            value: "cs.url.0=http://{{ .Release.Name }}-{{ .Values.appServerConnection.serviceName }}:{{ .Values.appServerConnection.port }}/servlet/ConfigurationServlet"
          {{- if .Values.webadapter.disableHTTP2 }}
          - name: ICM_WEBSERVER_DISABLE_HTTP2
            value: "true"
          {{- end }}
          {{- if .Values.environment }}
            {{- range $key, $value := .Values.environment }}
          - name: {{ $key }}
            value: {{ $value | quote }}
            {{- end }}
          {{- end }}
          volumeMounts:
          {{- if .Values.webadapter.customHttpdConfig }}
          - name: httpd-config-volume
            mountPath: /intershop/conf
          {{- end }}
          {{- if .Values.webadapter.customSSLCertificates }}
          - name: ssl-config-volume
            mountPath: /intershop/webserver-certs
          {{- end }}
          - name: pagecache-volume
            mountPath: /intershop/pagecache
          {{- if .Values.persistence.customdata.enabled }}
          - name: custom-data-volume
            mountPath: {{ .Values.persistence.customdata.mountPoint }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            # TODO remove SSL support
            - name: https
              containerPort: 8443
              protocol: TCP
          {{- if .Values.resources.webadapter.enabled }}
          resources:
            limits:
              memory: "{{ .Values.resources.webserver.memory_lim }}"
            requests:
              memory: "{{ .Values.resources.webserver.memory_req }}"
          {{- else }}
          resources: {}
          {{- end }}

