apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "icm-web.fullname" . }}-waa
  labels:
    app: {{ include "icm-web.fullname" . }}-waa
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  replicas: {{ .Values.agent.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "icm-web.fullname" . }}-waa
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "icm-web.fullname" . }}-waa
        release: {{ .Release.Name }}
    spec:
      {{- if .Values.nodeSelector}}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | trim | nindent 8 }}
      {{- end }}
      imagePullSecrets:
        {{- if .Values.agent.image.secret }}
        - name: "{{ .Values.agent.image.secret }}"
        {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
      - name: pagecache-volume
        {{- if .Values.persistence.local.enabled }}
        persistentVolumeClaim:
          claimName: "{{ include "icm-web.fullname" . }}-local-pagecache-pvc"
        {{- else }}
          {{- if .Values.persistence.nfs.enabled }}
        persistentVolumeClaim:
          claimName: {{ include "icm-web.fullname" . }}-nfs-pagecache-pvc
          {{- else }}
            {{- if .Values.persistence.azurefiles.enabled }}
        azureFile:
          secretName: {{ .Values.persistence.azurefiles.secretName }}
          shareName: {{ .Values.persistence.azurefiles.shareName }}
          readOnly: false
            {{- end }}
          {{- end }}
        {{- end }}
        {{- if .Values.customdata.enabled }}
      - name: custom-data-volume
        persistentVolumeClaim:
          claimName: "{{ .Values.customdata.existingClaim }}"
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}-agent
          {{- if .Values.agent.image.tag }}
          image: "{{ .Values.agent.image.repository }}:{{ .Values.agent.image.tag }}"
          {{- else }}
          image: "{{ .Values.agent.image.repository }}"
          {{- end }}
          imagePullPolicy: {{ .Values.agent.image.pullPolicy }}
          command:
          - "/bin/sh"
          - "-c"
          - {{- toYaml .Values.agent.image.command | nindent 12 }}
          env:
          - name: ICM_ICMSERVLETURLS
            value: "cs.url.0=http://{{ .Release.Name }}-{{ .Values.appServerConnection.serviceName }}:{{ .Values.appServerConnection.port }}/servlet/ConfigurationServlet"
          {{- if .Values.environment }}
            {{- range $key, $value := .Values.environment }}
          - name: {{ $key }}
            value: {{ $value | quote }}
            {{- end }}
          {{- end }}
          volumeMounts:
          - name: pagecache-volume
            mountPath: /intershop/pagecache
          {{- if .Values.customdata.enabled }}
          - name: custom-data-volume
            mountPath: {{ .Values.customdata.mountPoint }}
          {{- end }}
          {{- if .Values.resources.agent.enabled }}
          resources:
            limits:
              memory: "{{ .Values.resources.agent.memory_lim }}"
            requests:
              memory: "{{ .Values.resources.agent.memory_req }}"
          {{- else }}
          resources: {}
          {{- end }}
