{{- if .Values.agent.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "icm-web.fullname" . }}-waa
  {{- if .Values.agent.deploymentAnnotations }}
  annotations:
    {{- toYaml .Values.agent.deploymentAnnotations | trim | nindent 4 }}
  {{- end }}
  labels:
    app: {{ include "icm-web.fullname" . }}-waa
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    {{- if .Values.agent.deploymentLabels }}
      {{- toYaml .Values.agent.deploymentLabels | trim | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.agent.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "icm-web.fullname" . }}-waa
      release: {{ .Release.Name }}
  template:
    metadata:
    {{- if .Values.agent.podAnnotations }}
      annotations:
      {{- toYaml .Values.agent.podAnnotations | trim | nindent 8 }}
    {{- end }}
      labels:
        app: {{ include "icm-web.fullname" . }}-waa
        release: {{ .Release.Name }}
        {{- if .Values.agent.podLabels }}
          {{- toYaml .Values.agent.podLabels | trim | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.nodeSelector}}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | trim | nindent 8 }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.imagePullSecrets }}
        - name: {{ . | quote }}
        {{- end }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      volumes:
      - name: pagecache-volume
        {{- if eq .Values.persistence.pagecache.type "existingClaim" }}
        persistentVolumeClaim:
          claimName: "{{ .Values.persistence.pagecache.existingClaim }}"
        {{- else if eq .Values.persistence.pagecache.type "azurefiles" }}
        azureFile:
          secretName: {{ .Values.persistence.pagecache.azurefiles.secretName }}
          shareName: {{ .Values.persistence.pagecache.azurefiles.shareName }}
          readOnly: false
        {{- else if eq .Values.persistence.type "local" }}
        persistentVolumeClaim:
          claimName: "{{ template "icm-web.fullname" . }}-local-pagecache-pvc"
        {{- else if eq .Values.persistence.type "nfs" }}
        persistentVolumeClaim:
          claimName: "{{ template "icm-web.fullname" . }}-nfs-pagecache-pvc"
        {{- else if eq .Values.persistence.pagecache.type "cluster" }}
        persistentVolumeClaim:
          claimName: "{{ template "icm-web.fullname" . }}-cluster-pagecache-pvc"
        {{- end }}
      {{- if .Values.persistence.customdata.enabled }}
      - name: custom-data-volume
        persistentVolumeClaim:
          claimName: "{{ .Values.persistence.customdata.existingClaim }}"
        {{- end }}
      containers:
        - name: {{ .Chart.Name }}-agent
          {{- if .Values.agent.image.tag }}
          image: "{{ .Values.agent.image.repository }}:{{ .Values.agent.image.tag }}"
          {{- else }}
          image: "{{ .Values.agent.image.repository }}"
          {{- end }}
          imagePullPolicy: {{ .Values.agent.image.pullPolicy }}
          command:
          - "/bin/sh"
          - "-c"
          - {{- toYaml .Values.agent.image.command | nindent 12 }}
          env:
          - name: ICM_ICMSERVLETURLS
            value: "cs.url.0=http://{{ .Release.Name }}-{{ .Values.appServerConnection.serviceName }}:{{ .Values.appServerConnection.port }}/servlet/ConfigurationServlet"
          {{- if .Values.environment }}
            {{- range $key, $value := .Values.environment }}
          - name: {{ $key }}
            value: {{ $value | quote }}
            {{- end }}
          {{- end }}
          volumeMounts:
          - name: pagecache-volume
            mountPath: /intershop/pagecache
          {{- if .Values.persistence.customdata.enabled }}
          - name: custom-data-volume
            mountPath: {{ .Values.persistence.customdata.mountPoint }}
          {{- end }}
          {{- if .Values.resources.agent.enabled }}
          resources:
            limits:
              memory: "{{ .Values.resources.agent.memory_lim }}"
            requests:
              memory: "{{ .Values.resources.agent.memory_req }}"
          {{- else }}
          resources: {}
          {{- end }}
{{- end -}}