# install VSCode plugin redhat.vscode-yaml
# yaml-language-server: $schema=./values.schema.json

# Default values for pwa-main.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

updateStrategy: RollingUpdate
# updateStrategy: Recreate

replicaCount: 1

image:
  repository: intershophub/intershop-pwa-ssr
  tag: latest
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

upstream:
  icmBaseURL: https://pwa-ish-demo.test.intershop.com
  ## @param cdnPrefixURL The base URL of your CDN
  ## E.g:
  ## cdnPrefixURL: "https://www.example.com"
  cdnPrefixURL: ""
service:
  type: ClusterIP
  port: 4200

##
## @param hybrid Set to enable PWA Hybrid Approach. This means pages are produced by PWA or ICM.
## You must specify the icm-web chart's wa-service reference. Communication cannot be routed through
## ICM ingress controller.
##
hybrid:
  enabled: false
  backend: {}
#    service: icm-web
#    port: 443

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
## @param podAnnotations Annotations for SSR pods
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: {}
### @param podLabels Labels for SSR pods and deployment
### ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}
## @param environment Extra environment variables to be set on SSR containers
## E.g:
## environment:
##   - name: FOO
##     value: "BAR"
##   - name: FEATURES
##     value: |
##       - punchout
##       - quickorder
##   - name: IDENTITY_PROVIDERS
##     value: |
##       {
##         "Punchout": {"type": "PUNCHOUT"}
##       }

environment: []
## Prometheus Exporter / Metrics
##
metrics:
  ## @param metrics.enabled Expose Prometheus metrics of SSR container
  ##
  enabled: false

livenessProbe:
  {}
  # exec:
  #   command:
  #   - /bin/sh
  #   - -c
  #   - netstat -an | egrep 4200.*LISTEN | grep 4200
  # initialDelaySeconds: 10
  # periodSeconds: 30

readinessProbe:
  {}
  # exec:
  #   command:
  #   - /bin/sh
  #   - -c
  #   - netstat -an | egrep 4200.*LISTEN | grep 4200
  # initialDelaySeconds: 10
  # periodSeconds: 30

cache:
  ####
  ## @param NGinx ignore query parameters during caching
  ##   cacheIgnoreParams: |
  ##     params:
  ##     - utm_source
  ##     - utm_campaign
  #### empty cacheIgnoreParams example
  ##   cacheIgnoreParams: |
  ##     params: []
  cacheIgnoreParams: ""

  ####
  ## @param Multi channel/site configuration object
  ##  multiChannel: |
  ##    .+:
  ##      - baseHref: /b2b
  ##        channel: default
  ##      - baseHref: /b2c
  ##        channel: default
  ##        theme: b2c
  multiChannel: ""

  ####
  ## @param extraEnvVars Extra environment variables to be set on NGINX containers
  ## E.g:
  ##  extraEnvVars:
  ##    - name: MULTI_CHANNEL
  ##      value: |
  ##        .+:
  ##          - baseHref: /en
  ##            channel: default
  ##            lang: en_US
  ##          - baseHref: /de
  ##            channel: default
  ##            lang: de_DE
  ##    - name: FOO
  ##      value: "BAR"
  extraEnvVars: []

  ####
  ## @param prefetch Specify settings for the prefetch job that heats up caches.
  ## E.g:
  ##  prefetch:
  ##  - host: customer-int.pwa.intershop.de
  ##    path: /
  ##    protocol: https
  ##    stop: 3600
  ##    cron: "0 0 * * *"
  prefetch: []
  ## Prometheus Exporter / Metrics
  ##
  metrics:
    ## @param metrics.enabled Expose Prometheus metrics of NGINX container
    ##
    enabled: false

  replicaCount: 1

  image:
    repository: intershophub/intershop-pwa-nginx
    tag: latest
    pullPolicy: Always

  nameOverride: ""
  fullnameOverride: ""

  service:
    type: ClusterIP
    port: 4200

  resources: {}

  nodeSelector: {}

  tolerations: []

  affinity: {}
  ## @param podAnnotations Annotations for NGINX pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  podAnnotations: {}
  ### @param podLabels Labels for NGINX/Cache pods and deployment
  ### ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  podLabels: {}

  livenessProbe: {}

  readinessProbe: {}

ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: pwa.example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

ingresssplit:
  enabled: false
  className: nginx
  annotations: {}
  hosts:
    - host: pwa1.example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
