[bumpversion]
current_version = 1.0.1

# note: the indent after "search" is required to signal bump2version that the pattern continues
[bumpversion:file:Chart.yaml]
search = name: icm-job
  version: {current_version}
replace = {new_version}

[bumpversion:file:../icm-as/Chart.yaml]
search = name: icm-job
  version: {current_version}
replace = {new_version}
