# yaml-language-server: $schema=../values.schema.json
replicaCount: 5
image:
  repository: intershophub/intershop-pwa-ssr
  tag: latest
upstream:
  icmBaseURL: https://pwa-ish-demo.test.intershop.com
environment:
  - name: SSR_MAX_MEM
    value: "800M"
  - name: MAX_MEMORY_READY
    value: "400M"
readinessProbe:
  exec:
    command:
      - node
      - /dist/readinessprobe.js
  initialDelaySeconds: 10
  periodSeconds: 60
  failureThreshold: 1
  timeoutSeconds: 10

cache:
  replicaCount: 1
  image:
    repository: intershophub/intershop-pwa-nginx
    tag: latest
  multiChannel: |
    .+:
      - baseHref: /en
        channel: default
        lang: en_US
      - baseHref: /de
        channel: default
        lang: de_DE
      - baseHref: /fr
        channel: default
        lang: fr_FR
      - baseHref: /b2c
        channel: default
        theme: b2c

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: pwa.example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
