apiVersion: v1
kind: Service
metadata:
  name: {{ include "icm-as.fullname" . }}
  labels:
    app: {{ include "icm-as.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  ports:
  - name: svc
    port: 7743
    targetPort: svc
  - name: mgnt
    port: 7744
    targetPort: mgnt
  selector:
    app: {{ include "icm-as.fullname" . }}
status:
  loadBalancer: {}
