{{- if eq .Values.persistence.jgroups.type "cluster" -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "icm-as.fullname" . }}-cluster-jgroups-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{ .Values.persistence.jgroups.cluster.storageClass | quote }}

  resources:
    requests:
      storage: {{ .Values.persistence.jgroups.size }}
{{- end -}}