{{- if eq .Values.persistence.type "cluster"  -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "icm-as.fullname" . }}-cluster-sites-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: {{ .Values.persistence.cluster.storageClass | quote }}
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
{{- end -}}
