{{- if eq .Values.mssql.persistence.backup.type "cluster"  -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "icm-as.fullname" . }}-cluster-mssql-db-backup-pvc
  labels:
    {{- include "icm-as.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteMany
  # use the storage class defined by cluster-sc.yaml
  {{- if .Values.mssql.persistence.backup.cluster.storageClass.create }}
  storageClassName: "{{ template "icm-as.fullname" . }}-cluster-mssql-db-backup-sc"
  {{- else if gt (len .Values.mssql.persistence.backup.cluster.storageClass.existingClass) 0 }}
  storageClassName: {{ .Values.mssql.persistence.backup.cluster.storageClass.existingClass | quote }}
  {{- end }}
  resources:
    requests:
      storage: {{ .Values.mssql.persistence.backup.size }}
{{- end -}}
