{{- if eq .Values.persistence.sites.type "cluster" -}}
{{- if .Values.persistence.sites.cluster.storageClass -}}
# defines a storage class used for 'cluster-storage' - on demand use-once-volumes inside the cluster
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ .Values.persistence.sites.cluster.storageClass | quote }}
provisioner: kubernetes.io/azure-file
allowVolumeExpansion: true
mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - uid={{ .Values.podSecurityContext.runAsUser }}
  - gid={{ .Values.podSecurityContext.runAsGroup }}
  - mfsymlinks
  - cache=strict
  - actimeo=30
parameters:
  skuName: Standard_LRS
{{- end -}}
{{- end -}}