{{- if eq .Values.persistence.sites.type "cluster"  -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "icm-as.fullname" . }}-cluster-sites-pvc
spec:
  accessModes:
    - ReadWriteMany
  # use specified storage class
  storageClassName: {{ .Values.persistence.sites.cluster.storageClass | quote }}
  resources:
    requests:
      storage: {{ .Values.persistence.sites.size }}
{{- end -}}
