{{- if eq .Values.persistence.jgroups.type "cluster" -}}
{{- if .Values.persistence.jgroups.cluster.storageClass.create -}}
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ include "icm-as.fullname" . }}-cluster-jgroups-sc
  labels:
    {{- include "icm-as.labels" . | nindent 4 }}
provisioner: kubernetes.io/azure-file
allowVolumeExpansion: true
mountOptions:
{{- range .Values.persistence.jgroups.cluster.storageClass.mountOptions }}
- {{ . }}
{{- end }}
parameters:
  skuName: {{ .Values.persistence.jgroups.cluster.storageClass.skuName }}
{{- end -}}
{{- end -}}