{{- if .Values.job.enabled -}}
{{/* Build values based on main values merged with job specific ones */}}
{{- $jobValues:= deepCopy . -}}
{{- $jobValues := set $jobValues "Values" (merge .Values.job $jobValues.Values) -}}
{{- if $jobValues.Values.serverGroup -}}
{{- $jobValues := set $jobValues "jobServerGroup" $jobValues.Values.serverGroup -}}
{{- else -}}
{{- $jobValues := set $jobValues "jobServerGroup" "JOB" -}}
{{- end -}}
{{- if $jobValues.Values.serverName -}}
{{- $jobValues := set $jobValues "jobServerName" $jobValues.Values.serverName -}}
{{- else -}}
{{- $jobValues := set $jobValues "jobServerName" "jobserver" -}}
{{- $values_ := set $jobValues.Values "serverName" "jobserver" -}}
{{- end -}}

apiVersion: batch.core.intershop.de/v1
kind: ICMJob
metadata:
  name: {{ include "icm-as.fullname" $jobValues }}-job
spec:
  scheduleTimeComputer: {{ include "icm-as.scheduleTimeComputer" $jobValues -}}
  {{- if .Values.job.suspend }}
  suspend: {{ .Values.job.suspend }}
  {{- end }}
  {{- if .Values.job.pollInterval }}
  pollInterval: {{ .Values.job.pollInterval }}
  {{- end }}
  {{- if .Values.job.failedJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.job.failedJobsHistoryLimit }}
  {{- end }}
  {{- if .Values.job.successfulJobsHistoryLimit }}
  successfulJobsHistoryLimit: {{ .Values.job.successfulJobsHistoryLimit }}
  {{- end }}
  jobTemplate:
    spec:
      template:
        spec:
          {{- if eq (include "icm-as.jgroups.discovery" .) "kube_ping" }}
          serviceAccountName: {{ include "icm-as.serviceAccountName" . }}
          {{- end }}
          {{- if include "icm-as.nodeSelector" $jobValues }}
            {{- include "icm-as.nodeSelector" $jobValues | nindent 10 }}
          {{- end }}
          {{- if include "icm-as.imagePullSecrets" . }}
            {{- include "icm-as.imagePullSecrets" . | nindent 10 }}
          {{- end }}
          containers:
          - name: icm-as-server
            {{- include "icm-as.image" . | nindent 12 }}
            {{- include "icm-as.envJob" $jobValues | nindent 12 }}
            {{- include "icm-as.ports" $jobValues | nindent 12 }}
            {{- include "icm-as.resources" $jobValues | nindent 12 }}
            {{- include "icm-as.volumeMounts" . | nindent 12 }}
            {{- include "icm-as.probes" . | nindent 12 }}
            {{- include "icm-as.lifecycle" $jobValues | nindent 12 }}
          {{- include "icm-as.initContainers" . | nindent 10 }}
          restartPolicy: OnFailure
          {{- if include "icm-as.podSecurityContext" $jobValues }}
            {{- include "icm-as.podSecurityContext" $jobValues | nindent 10 }}
          {{- end }}
          {{- include "icm-as.volumes" . | nindent 10 }}
{{- end -}}

{{/*
Job-scheduling service
*/}}
{{- define "icm-as.scheduleTimeComputer" -}}
{{- $params := print "serverGroup=" .jobServerGroup -}}
{{- if .Values.nameSpecific -}}
{{- $params = print $params "&serverName=" .jobServerName -}}
{{- end -}}
http://{{ include "icm-as.fullname" . }}.{{.Release.Namespace}}:7744/jobserver/nextScheduleDate?{{ $params }}
{{- end -}}