{{- if .Values.job.enabled -}}
{{/* Build values based on main values merged with job specific ones */}}
{{- $jobValues:= deepCopy . -}}
{{- $jobValues := set $jobValues "Values" (merge .Values.job $jobValues.Values) -}}
{{- if $jobValues.Values.serverGroup -}}
{{- $jobValues := set $jobValues "jobServerGroup" $jobValues.Values.serverGroup -}}
{{- else -}}
{{- $jobValues := set $jobValues "jobServerGroup" "JOB" -}}
{{- end -}}
{{- if $jobValues.Values.serverName -}}
{{- $jobValues := set $jobValues "jobServerName" $jobValues.Values.serverName -}}
{{- else -}}
{{- $jobValues := set $jobValues "jobServerName" "jobserver" -}}
{{- $values_ := set $jobValues.Values "serverName" "jobserver" -}}
{{- end -}}
apiVersion: batch.core.intershop.de/v1
kind: ICMJob
metadata:
  name: {{ include "icm-as.fullname" $jobValues }}-job
spec:
  scheduleTimeComputer: {{ include "icm-as.scheduleTimeComputer" $jobValues -}}
  {{- if .Values.job.suspend }}
  suspend: {{ .Values.job.suspend }}
  {{- end }}
  {{- if .Values.job.pollInterval }}
  pollInterval: {{ .Values.job.pollInterval }}
  {{- end }}
  {{- if .Values.job.failedJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.job.failedJobsHistoryLimit }}
  {{- end }}
  {{- if .Values.job.successfulJobsHistoryLimit }}
  successfulJobsHistoryLimit: {{ .Values.job.successfulJobsHistoryLimit }}
  {{- end }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: {{ include "icm-as.fullname" . }}
            {{- include "icm-as.chartLabel" . | indent 12 }}
            {{- include "icm-as.datadogLabels" . | indent 12 }}
            {{- if $jobValues.Values.deploymentLabels }}
              {{- toYaml $jobValues.Values.deploymentLabels | trim | nindent 12 }}
            {{- end }}            
        spec:
          {{- include "icm-as.nodeSelector" $jobValues  | indent 10 }}
          {{- include "icm-as.imagePullSecrets" .  | indent 10 }}
          containers:
            - name: icm-as-server
              {{- include "icm-as.image" .  | indent 14 }}
              {{- include "icm-as.envJob" $jobValues  | indent 14 }}
              {{- include "icm-as.ports" $jobValues  | indent 14 }}
              {{- include "icm-as.resources" $jobValues | indent 14 }}
              {{- include "icm-as.volumeMounts" .  | indent 14 }}
              {{- include "icm-as.probes" .  | indent 14 }}
              {{- include "icm-as.lifecycle" $jobValues  | indent 14 }}
          {{- include "icm-as.initContainers" .  | indent 10 }}
          restartPolicy: OnFailure
          {{- include "icm-as.podSecurityContext" .  | indent 10 }}
        {{- include "icm-as.volumes" .  | indent 10 }}
{{- end -}}

{{/*
Job-specific-environment
*/}}
{{- define "icm-as.envJob" }}
{{- include "icm-as.env" . }}
- name: MAIN_CLASS
  value: "com.intershop.beehive.core.capi.job.JobServer"
- name: INTERSHOP_JOB_SERVER_EXCLUSIVE
  value: "true"
- name: INTERSHOP_SERVER_ASSIGNEDTOSERVERGROUP
  value: {{ .jobServerGroup }}
- name: SERVER_NAME
  value: {{ .jobServerName }}
{{- end -}}

{{/*
Job-scheduling service
*/}}
{{- define "icm-as.scheduleTimeComputer" -}}
{{- $params := print "serverGroup=" .jobServerGroup -}}
{{- if .Values.nameSpecific -}}
{{- $params = print $params "&serverName=" .jobServerName -}}
{{- end -}}
http://{{ include "icm-as.fullname" . }}.{{.Release.Namespace}}:7744/jobserver/nextScheduleDate?{{ $params }}
{{- end -}}