{{- if .Values.mssql.enabled }}
{{- if eq .Values.mssql.persistence.backup.type "local" }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "icm-as.fullname" . }}-local-mssql-db-backup-pv
  labels:
    type: local
    {{- include "icm-as.labels" . | nindent 4 }}
spec:
  storageClassName: standard
  capacity:
    storage: {{ .Values.mssql.persistence.backup.size }}
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: "{{ .Values.mssql.persistence.backup.local.path }}"
{{ end }}
{{ end }}
