{{- if eq (include "icm-as.jgroups.discovery" .) "file_ping" -}}
{{- if eq .Values.persistence.jgroups.type "local" -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "icm-as.fullname" . }}-local-jgroups-pvc
spec:
  storageClassName: standard
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.persistence.jgroups.size }}
  volumeName: {{ template "icm-as.fullname" . }}-local-jgroups-pv
{{- end -}}
{{- end -}}
