{{- if .Values.mssql.enabled }}
{{- if eq .Values.mssql.persistence.data.type "local" }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "icm-chart.fullname" . }}-local-mssql-db-data-pv
  labels:
    type: local
spec:
  storageClassName: standard
  capacity:
    storage: {{ .Values.mssql.persistence.data.size }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: "{{ .Values.mssql.persistence.data.local.path }}"
{{ end }}
{{ end }}
