{{- if eq .Values.persistence.sites.type "local" -}}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "icm-as.fullname" . }}-local-sites-pv
  labels:
    type: local
    {{- include "icm-as.labels" . | nindent 4 }}
spec:
  storageClassName: standard
  capacity:
    storage: {{ .Values.persistence.sites.size }}
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  hostPath:
    path: "{{ .Values.persistence.sites.local.path }}"
{{- end -}}