{{- if .Values.mssql.enabled }}
{{- if eq .Values.mssql.persistence.data.type "local" }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "icm-as.fullname" . }}-local-mssql-db-data-pvc
spec:
  storageClassName: standard
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.mssql.persistence.data.size }}
  volumeName: {{ template "icm-as.fullname" . }}-local-mssql-db-data-pv
{{ end }}
{{ end }}
