{{- if eq .Values.persistence.sites.type "nfs" -}}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ template "icm-as.fullname" . }}-nfs-sites-pv
  labels:
    type: nfs
    {{- include "icm-as.labels" . | nindent 4 }}
spec:
  capacity:
    storage: {{ .Values.persistence.sites.size }}
  accessModes:
  - ReadWriteMany
  nfs:
    server: {{ .Values.persistence.sites.nfs.server | quote }}
    path: {{ .Values.persistence.sites.nfs.path | quote }}
{{- end -}}
