{{- if eq .Values.mssql.persistence.backup.type "nfs" -}}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ template "icm-as.fullname" . }}-nfs-mssql-db-backup-pvc
  annotations:
    # avoid deleting with helm update
    "helm.sh/resource-policy": keep
  labels:
    {{- include "icm-as.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: {{ template "icm-as.fullname" . }}-nfs-mssql-db-backup-pv
  resources:
    requests:
      storage: {{ .Values.mssql.persistence.backup.size }}
  selector:
    matchLabels:
      type: nfs
{{- end -}}
