[bumpversion]
current_version = 0.9.2
commit = true
tag = false
message = Bump icm chart version: {current_version} → {new_version}

[bumpversion:file:Chart.yaml]
search = version: {current_version}
replace = version: {new_version}
