apiVersion: v1
appVersion: "11.2.1"
description: Intershop Commerce Management - ICM
name: icm
version: 1.3.6
# test related annotations
annotations:
  requestedMemoryQuota: 6300Mi
  requestedCpuQuotaInMinutes: "2500"
