apiVersion: v1
appVersion: "11.0.13"
description: Intershop Commerce Management - ICM
name: icm
version: 1.0.1-alpha
# test related annotations
annotations:
  requestedMemoryQuota: 5900Mi
  requestedCpuQuotaInMinutes: "2500"
