apiVersion: v1
appVersion: "11.1.2"
description: Intershop Commerce Management - ICM
name: icm
version: 1.1.0
# test related annotations
annotations:
  requestedMemoryQuota: 5900Mi
  requestedCpuQuotaInMinutes: "2500"
