apiVersion: v1
appVersion: "11.0.0"
description: Intershop Commerce Management - ICM
name: icm
version: 0.2.8
dependencies:
  - name: icm-as
    version: 0.2.6
    repository:  file://../icm-as
  - name: icm-web
    version: 0.1.30
    repository:  file://../icm-web
