apiVersion: v2
appVersion: "11.9.0"
description: Intershop Commerce Management - ICM
# name and version must be in this exact order, otherwise bump2version won't work
name: icm
version: 1.13.0-alpha
# test related annotations
annotations:
  requestedMemoryQuota: 5300Mi
  requestedCpuQuotaInMinutes: "2000"
dependencies:
  - name: icm-as
    version: 1.10.0-alpha
    repository: file://../icm-as
  - name: icm-web
    version: 0.9.0
    repository: file://../icm-web
    condition: icm-web.enabled
  - name: ingress-nginx
    version: 4.9.0
    repository: https://kubernetes.github.io/ingress-nginx
    condition: ingress-nginx.enabled
  - name: mailhog
    version: 5.2.0
    repository: https://codecentric.github.io/helm-charts
    condition: mailhog.enabled
  - name: redis
    version: 17.15.2
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
  - name: redis-cluster
    version: 8.6.12
    repository: https://charts.bitnami.com/bitnami
    condition: redis-cluster.enabled
