icm-as:
  nodeSelector: null
  imagePullSecrets:
  - "${ICM_AS_PULL_SECRET}"
  customCommand: null
  persistence:
    sites:
      size: 2Gi
      type: azurefiles
      azurefiles:
        secretName: azure-secret
        shareName: icm-sites
    customdata:
      enabled: true
      type: azurefiles
    jgroups:
      size: 1Gi
      type: azurefiles
      azurefiles:
        secretName: azure-secret
        shareName: icm-jgroups
  mssql:
    enabled: true
    acceptEula: "Y"
    persistence:
      data:
        size: 1Gi
        type: azurefiles
        azurefiles:
          secretName: azure-secret
          shareName: iste-mssql-data
      backup:
        size: 1Gi
        type: azurefiles
        azurefiles:
          secretName: azure-secret
          shareName: iste-mssql-backup
  ingress:
    enabled: true
    className: "nginx"

ingress-nginx:
  enabled: false
  controller:
    nodeSelector: null

mailhog:
  nodeSelector: null

testrunner:
  nodeSelector: null
  imagePullSecrets:
  - "${ICM_AS_PULL_SECRET}"
  persistence:
    testdata:
      size: 2Gi
      type: azurefiles
      azurefiles:
        secretName: azure-secret
        shareName: iste-nfs
