icm-as:

  image:
    repository: intershophub/icm-as:11.0.0
  imagePullSecrets:
  - "dockerhub"
  replicaCount: 1

  ## @param environment - Environment variables to be set on containers
  environment:
    INTERSHOP_DATABASETYPE: "mssql"
    INTERSHOP_JDBC_URL: "jdbc:sqlserver://<ipaddress or hostname>:1433;databaseName=intershop"
    # INTERSHOP_DATABASETYPE: "oracle"
    # INTERSHOP_JDBC_URL: "jdbc:oracle:thin:@<ipaddress>:1521:intershop"
    INTERSHOP_JDBC_USER: "intershop"
    INTERSHOP_JDBC_PASSWORD: "intershop"

  # ICM license Configuration
  license:
  # type: configMap | csi
    type: configMap
    configMap:
      content: |-
        <your license>
    csi:
      volumeAttributes:
        secretProviderClass: "azure-license"
      nodePublishSecretRef:
        name: secrets-store-creds

  ## @param persistence - Either choose local (default), cluster, azurefiles or nfs persitence layer
  persistence:
    sites:
      size: 1Gi
      type: local
      local:
        path: <local sites folder>

icm-web:
  imagePullSecrets:
  - "dockerhub"
  webadapter:
    replicaCount: 1
    image:
      repository: intershophub/icm-webadapter:2.4.0
      secret: dockerhub
  agent:
    # in some REST-based environment the webadapteragent isn't mandatory
    enabled: true
    replicaCount: 1
    image:
      repository: intershophub/icm-webadapteragent:4.0.0
  persistence:
    pagecache:
      size: 1Gi
      type: local
      local:
        path: <local pagecache folder>
