icm-as:
  nodeSelector: null
  imagePullSecrets:
  - "${ICM_AS_PULL_SECRET}"
  license:
    secret:
      name: intershop-license
  persistence:
    sites:
      size: 1Gi
      type: local
      local:
        path: ${LOCAL_MOUNT_BASE}/sites
    customdata:
      enabled: true
      existingClaim: ${HELM_JOB_NAME}-local-testdata-pvc
      mountPoint: /data
  datadog:
    enabled: false
  mssql:
    enabled: true
    acceptEula: "Y"
    persistence:
      data:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/mssql/data
      backup:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/mssql/backup

icm-web:
  nodeSelector: null
  imagePullSecrets:
  - "${ICM_WEB_PULL_SECRET}"
  persistence:
    pagecache:
      type: emptyDir
    customdata:
      enabled: true
      existingClaim: ${HELM_JOB_NAME}-local-testdata-pvc
      mountPoint: /data

testrunner:
  nodeSelector: null
  imagePullSecrets:
  - "${ICM_AS_PULL_SECRET}"
  persistence:
    testdata:
      size: 1Gi
      type: local
      local:
        dir: ${LOCAL_MOUNT_BASE}/testdata
  datadog:
    enabled: false
