icm-as:

  podAnnotations:
    # as long as there are no long running job pods we need this annotation for icm-as
    "cluster-autoscaler.kubernetes.io/safe-to-evict": "false"

  image:
  #  repository: intershophub/icm-as
  #  tag: :11.0.12-dev1
  imagePullSecrets:
  - "dockerhub"
  replicaCount: 1

  ## @param environment - extra environment variables to be set on containers
  environment:

  # ICM license Configuration
  license:
  # type: configMap | csi
    type: configMap
    configMap:
      content: |-
        <your license>
    csi:
      volumeAttributes:
        secretProviderClass: "azure-license"
      nodePublishSecretRef:
        name: secrets-store-creds

  ## @param persistence - Either choose local (default), cluster, azurefiles or nfs persitence layer
  persistence:
    sites:
      size: 1Gi
      type: local
      local:
        path: <local sites folder>

  testConnection:
    protocol: https
    port: 8443
    url: /INTERSHOP/web/WFS/SMC
    serviceSuffix: -icm-web-wa

  mssql:
    enabled: false
    persistence:
      data:
        local:
          path: <local mssql data folder>
      backup:
        local:
          path: <local mssql backup folder>

icm-web:
  imagePullSecrets:
  - "dockerhub"
  webadapter:
    replicaCount: 1
    podAnnotations:
      # as long as there is no new cache system we need this annotation for icm-web
      "cluster-autoscaler.kubernetes.io/safe-to-evict": "false"
    image:
      repository: intershophub/icm-webadapter:2.4.6
      secret: dockerhub
  agent:
    # in some REST-based environment the webadapteragent isn't mandatory
    enabled: true
    replicaCount: 1
    image:
      repository: intershophub/icm-webadapteragent:4.0.0
  persistence:
    pagecache:
      size: 1Gi
      type: local
      local:
        path: <local pagecache folder>

test:
  enabled: false
