icm-as:
  nodeSelector: null
  infrastructureMonitoring:
    enabled: false
  imagePullSecrets:
  - "${ICM_AS_PULL_SECRET}"
  persistence:
    sites:
      size: 2Gi
      type: local
      local:
        path: ${LOCAL_MOUNT_BASE}/sites
    customdata:
      enabled: true
      existingClaim: ${HELM_JOB_NAME}-local-testdata-pvc
      mountPoint: /data
  mssql:
    enabled: true
    acceptEula: "Y"
    persistence:
      data:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/mssql/data
      backup:
        size: 1Gi
        type: local
        local:
          path: ${LOCAL_MOUNT_BASE}/mssql/backup

icm-web:
  nodeSelector: null
  persistence:
    customdata:
      enabled: true
      existingClaim: ${HELM_JOB_NAME}-local-testdata-pvc

ingress-nginx:
  controller:
    nodeSelector: null
    extraVolumes: null
    extraVolumeMounts: null

mailhog:
  nodeSelector: null

testrunner:
  nodeSelector: null
  imagePullSecrets:
  - "${ICM_AS_PULL_SECRET}"
  persistence:
    testdata:
      size: 1Gi
      type: local
      local:
        dir: ${LOCAL_MOUNT_BASE}/testdata
