# Default values for iom.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 2
downtime: true

image:
  repository: docker.tools.intershop.com/iom/intershophub/iom
  # Overrides the image tag whose default is the chart version.
  tag:
  pullPolicy: IfNotPresent

# the type of test is fixed. It's the same as used for livenessProbe.
# As long startupProbe is in progess, no liveness-probes will be executed. This is very
# important to delay liveness-probe until the initialization (database initialization,
# database migration, project configuration) is finished.
# If the liveness-probe finally fails during pod start, it will be killed and caught in
# an invinite loop of starting and killing.
# It's essential, that startup-probe will not finally fail during initialization (before
# Wildfly application server has startet). To do so, you need to configure startupProbe,
# that
#   initialDelaySeconds + periodSeconds * failureThreshold
# is larger than initialization time!
startupProbe:
  enabled: true
  periodSeconds: 10
  initialDelaySeconds: 60
  timeoutSeconds: 5
  failureThreshold: 354

# the type of test is fixed, as it is an important characteristics of the container.
# to test liveness, the static HTML page at / of the wildfly application server is tested.
livenessProbe:
  enabled: true
  periodSeconds: 10
  initialDelaySeconds: 60
  timeoutSeconds: 5
  failureThreshold: 3

# the type of test is fixed, as it is an important characteristics of the container.
# to test readiness, the healthckeck service of IOM is tested.
readinessProbe:
  enabled: true
  periodSeconds: 10
  initialDelaySeconds: 60
  timeoutSeconds: 8
  failureThreshold: 1
  successThreshold: 1

dbaccount:
  # if enabled, dbaccount will be executed during installation process only, not on upgrade!
  enabled: false
  # reinitialize database
  resetData: false
  # name of dedicated tablespace
  tablespace:
  # options allows to set database options.
  options: "ENCODING='UTF8' LC_COLLATE='en_US.utf8' LC_CTYPE='en_US.utf8' CONNECTION LIMIT=-1 TEMPLATE=template0"
  # searchPath extends the search-path for DB objects, e.g.:
  # searchPath: "testcases"
  searchPath:
  image:
    repository: docker.tools.intershop.com/iom/intershophub/iom-dbaccount
    tag:        1.4.0
    pullPolicy: IfNotPresent
  resources: {}
  
config:
  enabled: false
  image:
    repository: 
    tag:
    pullPolicy: IfNotPresent
  resources: {}
  # allow skipping of initialization steps
  skipProcedures: false
  skipMigration:  false
  skipConfig:     false

# general postgres settings, required to connect to postgres server
# If postgres sub-chart is enabled, these settings are ignored by all other
# components, including dbaccount job. Instead of it, the settings defined
# by the postgres sub-chart will be used.
pg:
  host:               postgres-service
  port:               "5432"
  userConnectionSuffix:
  sslMode:            prefer
  sslCompression:     "0"
  sslRootCert:
  #
  # all following pg parameters are used only by dbaccount. Hence, if
  # dbaccount.enabled is false, they are ignored completely.
  #
  # super-user access to postgres server
  user:               postgres
  userSecretKeyRef:   {}
  passwd:             postgres
  passwdSecretKeyRef: {}
  db:                 postgres
  
oms:
  # public URL of IOM
  # used internally by IOM for link generation.
  publicUrl:                       https://localhost
  # Shared secret for JWT creation / validation
  jwtSecret:                       length_must_be_at_least_32_chars
  jwtSecretKeyRef:                 {}
  archiveOrderMessageLogMinAge:    "90"
  deleteOrderMessageLogMinAge:     "180"
  archiveShopCustomerMailMinAge:   "1826"
  archiveShopCustomerMailMaxCount: "10000"
  deleteShopCustomerMailMinAge:    "2190"
  # if set to true, secure flag is set to cookies. if secure flag is set, OMT
  # requires HTTPS to function properly.
  secureCookiesEnabled:            true
  # if set to false, no backend-applications will be executed in whole cluster.
  # this is required in transregional installations of IOM only, where many
  # local IOM clusters have to work together. In this case, only one of the local
  # clusters must execute backend-applications (IOM singleton applications).
  execBackendApps:                 true
  
  # IOM database related settings
  db:
    name:               oms_db
    user:               oms_user
    userSecretKeyRef:   {}
    passwd:             OmsDB
    passwdSecretKeyRef: {}
    # defaults to combination of pg.host and pg.port, which are used by the config-container.
    # can be overwritten to enable failover of the app-container 
    hostlist:
    connectionMonitor:
      enabled:          false
      schedule:         "*/1 * * * *"
    # connect timeout in seconds, a value of 0 indicates to wait indefinitely.
    # timeout is passed to jdbc and psql connections
    connectTimeout:     "10"
    
  # mail-server related settings
  # if mailhog sub-chart is enabled, these settings are ignored.
  # Instead of it, the values of mailhog sub-chart will be used.
  smtp:
    host:               mail-service
    port:               "1025"
    user:
    userSecretKeyRef:   {}
    passwd:
    passwdSecretKeyRef: {}

# Wildfly related settings
jboss:
  # set java options
  javaOpts: "-XX:+UseContainerSupport -XX:MinRAMPercentage=85 -XX:MaxRAMPercentage=85"
  # provide the possibility to append java options w/o the need to overwrite javaOpts
  javaOptsAppend:
  # set options for wildfly application server, e.g.:
  # opt: "--debug *:8787"
  opts:
  # set pool-size of XA-datasource:
  xaPoolsizeMin: "50"
  xaPoolsizeMax: "125"
  # set size of ActiveMQ client thread pool
  activemqClientPoolSizeMax: "50"
  # if set, according value will be used to provide unique values for
  # jboss.node.name and jboss.tx.node.id. nodePrefix will be extended by the node-number
  # of the pod within the stateful set.
  # if left empty, current hostname is used.
  nodePrefix:

# IOM logging related settings
log:
  level:
    # log-level for scripts can be one of: ERROR, WARN, INFO, DEBUG
    scripts:       INFO
    # log-level for following scopes can be one of: FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL
    console:       WARN
    iom:           WARN
    hibernate:     WARN
    quartz:        WARN
    activeMQ:      WARN
    customization: WARN
  access:
    enabled:       true
  # deprecated since iom-helm-charts 1.3.0
  metadata:
    tenant:        company-name
    environment:   system-name
  # list of operationIDs
  # if an entry matches the operationID of a REST interface, request and response
  # of according requests are logged at level DEBUG
  rest: []

# datadog APM related settings
datadogApm:
  # APM library is installed only on host, with name ending on -0.
  backendOnly: true
  # Is mapped to DD_APM_ENABLED
  enabled: false
  # Host/IP of the agent, that should receive APM traces.
  # If left empty, the IP of current node is used.
  # Is mapped to DD_AGENT_HOST
  traceAgentHost:
  # Port of the agent, that should receive APM traces.
  # Is mapped to DD_TRACE_AGENT_PORT
  traceAgentPort:
  # Is mapped to DD_TRACE_AGENT_TIMEOUT
  traceAgentTimeout:
  # is mapped to DD_LOGS_INJECTION
  logsInjection: false
  # is mapped to DD_TRACE_DEBUG
  debug: false
  # is mapped to DD_TRACE_STARTUP_LOGS
  startupLogs: true
  # is mapped to DD_TAGS
  tags:
  # is mapped to DD_SERVICE_MAPPING
  serviceMapping:
  # is mapped to DD_WRITER_TYPE
  # use LoggingWriter print APM traces to console instead of sending them to datadog agent
  writerType:
  # is mapped to DD_TRACE_PARTIAL_FLUSH_MIN_SPANS
  partialFlushMinSpan:
  # is mapped to DD_TRACE_DB_CLIENT_SPLIT_BY_INSTANCE
  dbClientSplitByInstance:
  # is mapped to DD_TRACE_HEALTH_METRICS_ENABLED
  healthMetricsEnabled: false
  # is mapped to DD_TRACE_SERVLET_ASYNC_TIMEOUT_ERROR
  servletAsyncTimeoutError: true
  # is mapped to DD_TRACE_SAMPLE_RATE
  sampleRate: '1.0'
  # is mapped to DD_JMXFETCH_ENABLED
  jmxFetchEnabled: true

# project related settings
project:
  # IOM projects are supporting different settings for different environments
  # envName defined, which one has to be used.
  envName:               env-name
  # controls the import of test data, which are part of the project.
  importTestData:        false
  # number of seconds after that the import of test-data has to be finished.
  # If not, the container will end with an error.
  importTestDataTimeout: 300

persistence:
  storageClass: azurefile
  storageSize: 1Gi
  # To be used in simple environments (e.g. demos) to persist data on local host.
  # if set, storageClass will be ignored.
  hostPath:
  # To be used in multi-regional installations to persist data in different clusters.
  # if set, storageClass and hostPath are ignored.
  pvc:

ingress:
  enabled: true
  className: nginx
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  # paths are treated as list of prefixes. Any URL matching one of the prefixes will
  # be forwared to IOM.
  hosts:
    - host: iom.example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  limits:
    cpu: 1000m
    memory: 2000Mi
  requests:
    cpu: 1000m
    memory: 2000Mi

imagePullSecrets: []
nameOverride: 
fullnameOverride: 

podDisruptionBudget:
  maxUnavailable: 1

# see: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
# If enabled, a podAntiAffinity rule is created, which prevents scheduling of more than ONE pod
# of the current helm release onto one node (depending on the value of topologyKey).
# The mode defines the strictness of this rule.
podAntiAffinity:
  enabled: true
  # required | preferred
  mode: required
  topologyKey: kubernetes.io/hostname

affinity: {}

# see: https://kubernetes.io/blog/2020/05/introducing-podtopologyspread/
# see: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
# If enabled, pods of current Helm release are evenly spread over defined topology. Maximum
# difference of count of pods per topology item is defined by maxSkew.
spreadPods:
  enabled: false
  topologySpreadConstraints:
  - maxSkew: 1
    whenUnsatisfiable: ScheduleAnyway
    topologyKey: kubernetes.io/hostname

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

nodeSelector: {}

tolerations: []

postgres:
  enabled: false
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    storageSize: 2Gi
    forceReset: false

mailhog:
  enabled: false
  probes:
    enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: mailhog-test.poc.intershop.de
        paths:
          - path: /
            pathType: Prefix

    tls: []
    #  - secretName: wildcard-poc-tls
    #    hosts:
    #      - chart-example.local

iom-tests:
  enabled: false

# internal ingress-nginx controller
# this ingress-nginx controller cannot be globally used, it is restricted to the namespace
# There is also a strong problem with the name "ingress-nginx". It contains a '-', which is
# invalid for names of variables, hence these variables cannot be accessed within templates!
# As a workaround "nginx" was added. Therefore ingress-nginx is only used to configure the
# nginx-controller statically. 
ingress-nginx:
  rbac:
    create: true
    scope: true
  controller:
    admissionWebhooks:
      enabled: false
    config:
      use-forwarded-headers: "true"
      proxy-add-original-uri-header: "true"
    ingressClass: nginx-iom
    ingressClassResource:
      name: nginx-iom
    extraArgs:
      # increase verbosity
      # v: 3
    replicaCount: 2
    # watch only for ingress in current namespace
    scope:
      enabled: true
    service:
      # internal ingress-nginx controller must never be accessed from public network
      type: "ClusterIP"

# Workaround to overcome the problem with '-' in names of variables.
# The following variables do not have any impact on the configuration of ingress-nginx (except the enabled flag).
# They are provided to be used in templates.
nginx:
  enabled: false
  # for very simple (demo-)installations, the internal nginx-controller can be used as public
  # ingress too, if proxy.enabled is set to false.
  proxy:
    enabled: true
    annotations: {}
